[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "biometrics"]
	path = biometrics
	url = https://github.com/cran/biometrics
[submodule "datana"]
	path = datana
	url = https://github.com/cran/datana
